<!--
    Interpolation 
    {{variable}} - use this whenever you want to have text coming from some variable
-->
<!--
    Attribute binding
    [attribute]="variable"
-->
<!--
    Event binding
    (event)="some js code"
-->
<!--
    Two-way data binding
    Used for input elements
    [(ngModel)]="variable"
-->
<div class="container">
    <h2>Product Catalog</h2>
    <hr />
    <div class="row" style="margin: 20px 0;">
        <div class="col-xs-3">
            Filter
        </div>
        <div class="col-xs-9">
            <input type="search" class="form-control" placeholder="Type in here to filter" [(ngModel)]="filterKey" (ngModelChange)="filterProducts()" />
        </div>
        Current value of filter key : {{filterKey}}
    </div>
    <table class="table table-bordered table-striped" *ngIf="products.length !== 0">
        <thead>
            <tr>
                <td>
                    Image
                    <br />
                    <button class="btn btn-primary btn-sm" (click)="toggleImageDisplay()">{{isImageShown ? 'Hide image' : 'Show image'}}</button>
                </td>
                <td>Name</td>
                <td>Item code</td>
                <td>Description</td>
                <td>Price</td>
                <td>Rating</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of filteredProducts; let i = index;">
                <td><img *ngIf="isImageShown === true" [src]="product.imageUrl" [style.width.px]="imageWidth" [style.border]="imageBorder" [style.padding.px]="imagePadding" /></td>
                <td>
                    <a [routerLink]="[product.id]">{{product.name}}</a>
                </td>
                <td>{{product.code}}</td>
                <td>{{product.description | ellipsize:20}}</td>
                <td>{{product.price | currency:'INR':"symbol":'1.2-2'}}</td>
                <td>
                    <app-star-rating [rating]=product.starRating (ratingChange)="updateProductRating( $event, product )">
                    </app-star-rating>
                    <a (click)="logEventObject( $event ); logProduct( product, i );">Up</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-danger" *ngIf="products.length === 0">
        No products found!
    </div>
</div>