<div class="outer-container" [style.width.px]="outerContainerWidth">
  <div class="inner-container">
    <span class="glyphicon glyphicon-star" (click)="onStarClicked(1)"></span>
    <span class="glyphicon glyphicon-star" (click)="onStarClicked(2)"></span>
    <span class="glyphicon glyphicon-star" (click)="onStarClicked(3)"></span>
    <span class="glyphicon glyphicon-star" (click)="onStarClicked(4)"></span>
    <span class="glyphicon glyphicon-star" (click)="onStarClicked(5)"></span>
  </div>
</div>
